@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
 }
<div id="services" class="animate-block content-block services-block">
  <div class="services-block-inner container">
    <div class="content-block-inner text-center">
      <h2 class="uppercase pad-bottom-20">Product / Services</h2>
      <div class="col-10-l no-float center">
        <p>
       We provide end to end Barcoding and Labelling solutions for specific needs of our clients across segments, i.e. Retail, Manufacturing, Health Care, Ware Housing, Government, Hospitality, Logistics and Automotive. 
        </p>
      </div>
    </div>
    <ul class="services-list clear">
      <li class="service-item col-6 col-3-m"><a href="~/Ibs/Application" style="text-decoration:none !important">
        <h3 class="service-item-heading service-icon service-icon-performance">Application Solution</h3>
        <p>
          We got powerful solutions to fit your needs to boost your performance.	
        </p></a>
      </li>
      <li class="service-item col-6 col-3-m"><a href="~/Ibs/Hardware" style="text-decoration:none !important">
        <h3 class="service-item-heading service-icon service-icon-customer">Hardware Products</h3>
        <p>
         Wide-ranging hardware portfolio from mid-range to industrial usage tools you need to get the job done. 
        </p></a>
      </li>
      <li class="service-item col-6 col-3-m"><a href="~/Ibs/Service" style="text-decoration:none !important">
        <h3 class="service-item-heading service-icon service-icon-it">Service & Support</h3>
        <p>
         Our services and support are an integral part of your enterprise mobility strategy.
        </p></a>
      </li>
      <li class="service-item col-6 col-3-m"><a href="~/Ibs/Wireless" style="text-decoration:none !important">
        <h3 class="service-item-heading service-icon service-icon-transformation">Wireless Infrastructure</h3>
        <p>
          You can stay mobile and connected with our offering of award-winning Wireless LAN products.
        </p></a>
      </li>	
    </ul>
  </div>
</div>

<div class="animate-block feature-block contact-feature-block">
  <div class="feature-block-inner container">
    <div class="text-center">
      <h2 class="feature-block-heading">Contact us for a free, no obligation confidential exploration of your needs</h2>
      <a class="button button-primary" href="#contact">Contact Us</a>
    </div>
  </div>
</div>

<div id="about" class="content-block about-block">
  <div class="about-block-inner container">
    <div class="animate-block content-block-inner text-center">
      <h2 class="uppercase pad-bottom-20">About Us</h2>
      <div class="col-10-l no-float center">
        <p>
         IBS is a leading provider of business enabling solutions in the field of AIDC using Bar-Coding, RFID,GPS and Biometric based technologies in the Middle East Region. 
        </p>
      </div>
    </div>
    <div class="animate-block about-content clear row-m">
        
      <div class="what-we-do-block col-12-m pad-top-20">
          <h3 class="heading fs-3">Who We Are</h3>
        <p>
         It all started in 1989 with the vision to create a customer-focussed specialized group of professionals who would initiate the spread & growth of barcodes as a means of improving the efficiency and productivity of businesses. The sceptics were not impressed but he remained focussed on the conviction that the GCC countries were at the threshold of an information technology revolution and that bar codes provided the ideal vehicle for translating raw data into vital information.

        </p>
        <p>
         IBS is now a leading provider of business enabling solutions in the field of Automatic Identification and Data Capture (AIDC) using Barcoding, RFID, Wireless, GPS and Biometric based technologies.
        </p>
        <p>
         IBS is a company with mobile computing and wireless solutions as our core business activity. Our list of customers is testimony to the quality of our products and the reliability of our post sale support. We are dedicated to a business philosophy of delivering superior value, quality and service in response to defined customer needs. We will strive to ensure successful implementation of the project through innovative products, installation, training and on-going maintenance support. 
        </p>
        
      </div>
      <div class="our-clients-block col-6-m clear pad-top-20">
       @* <h3 class="heading fs-3">Our Partners</h3>
    <input type="radio" name="clients" id="client-tab-1" class="client-tab-radio client-tab-radio-1 none" checked>
     <label class="client-tab-label client-tab-label-1" for="client-tab-1" onclick><span class="none">Client Tab</span></label>
     <div class="client-tab client-tab-1">
       <ul class="clients-list clear">
         <li class="client-item col-6 col-4-l">
           <a href="#"><img class="block img-full" src="~/img/oracle.png" alt="Oracle"></a>
         </li>
         <li class="client-item col-6 col-4-l">
           <a href="#"><img class="block img-full" src="~/img/sony.png" alt="Sony"></a>
         </li>
         <li class="client-item col-6 col-4-l">
           <a href="#"><img class="block img-full" src="~/img/sandisk.png" alt="SanDisk"></a>
         </li>
         <li class="client-item col-6 col-4-l">
           <a href="#"><img class="block img-full" src="~/img/mcafee.png" alt="McAfee"></a>
         </li>
         <li class="client-item col-6 col-4-l">
           <a href="#"><img class="block img-full" src="~/img/netflix.png" alt="Netflix"></a>
         </li>
         <li class="client-item col-6 col-4-l">
           <a href="#"><img class="block img-full" src="~/img/sap.png" alt="SAP"></a>
         </li>
       </ul>
     </div>
     <input type="radio" name="clients" id="client-tab-2" class="client-tab-radio client-tab-radio-2 none">
     <label class="client-tab-label client-tab-label-2" for="client-tab-2" onclick><span class="none">Client Tab</span></label>
     <div class="client-tab client-tab-2">
       <ul class="clients-list clear">
         <li class="client-item col-6 col-4-l">
           <a href="#"><img class="block img-full" src="~/img/sony.png" alt="Sony"></a>
         </li>
         <li class="client-item col-6 col-4-l">
           <a href="#"><img class="block img-full" src="~/img/oracle.png" alt="Oracle"></a>
         </li>
         <li class="client-item col-6 col-4-l">
           <a href="#"><img class="block img-full" src="~/img/sandisk.png" alt="SanDisk"></a>
         </li>
         <li class="client-item col-6 col-4-l">
           <a href="#"><img class="block img-full" src="~/img/mcafee.png" alt="McAfee"></a>
         </li>
         <li class="client-item col-6 col-4-l">
           <a href="#"><img class="block img-full" src="~/img/sap.png" alt="SAP"></a>
         </li>
         <li class="client-item col-6 col-4-l">
           <a href="#"><img class="block img-full" src="~/img/netflix.png" alt="Netflix"></a>
         </li>
       </ul>
     </div>*@
      </div>
    </div>
    
   @*
        <div class="animate-block our-team-block pad-top-20">
      <h3 class="heading fs-3">Our Team</h3>
      <ul id="team" class="team-list clear">

        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-3-xl no-padding-xl">
          <a id="team-2" href="#team-2-profile"><img class="block img-full" src="~/img/team-12.jpg" alt="Team Member 2">
            <span class="team-item-content">
              <strong class="team-item-name">Sharmeen Khan</strong>
              <strong class="team-item-title">Founder CEO</strong>
              <span class="team-item-position">CEO</span>
            </span>
          </a>
        </li>

        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-3-xl no-padding-xl">
          <a id="team-3" href="#team-3-profile"><img class="block img-full" src="~/img/team-03.jpg" alt="Team Member 3">
            <span class="team-item-content">
              <strong class="team-item-name">Clark</strong>
              <strong class="team-item-title">Marketing Head</strong>
              <span class="team-item-position">Asia Pacific Business Head</span>
            </span>
          </a>
        </li>

        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-3-xl no-padding-xl">
          <a id="team-11" href="#team-11-profile"><img class="block img-full" src="~/img/team-11.jpg" alt="Team Member 11">
            <span class="team-item-content">
              <strong class="team-item-name">Richmond Reymond</strong>
              <strong class="team-item-title">Production Head</strong>
              <span class="team-item-position">CPO ( Chief Production Officer )</span>
            </span>
          </a>
        </li>
        <li class="team-item col-6 col-4-m no-padding-m col-3-l no-padding-l col-3-xl no-padding-xl">
          <a id="team-12" href="#team-12-profile"><img class="block img-full" src="~/img/team-02.jpg" alt="Team Member 12">
            <span class="team-item-content">
              <strong class="team-item-name">Ali Al Zafar</strong>
              <strong class="team-item-title">Development Head</strong>
              <span class="team-item-position">CTO ( Chief Technical Officer )</span>
            </span>
          </a>
        </li>
      </ul>
    </div>*@

    <div class="team-profiles-block">
      <div class="modal" id="team-2-profile">
        <a href="#team-2" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Sharmeen Khan</h2>
          <strong class="block">Founder CEO - CEO</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="~/img/team-12.jpg" alt="Team Member 1">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
	  
	  
      <div class="modal" id="team-3-profile">
        <a href="#team-3" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Clark</h2>
          <strong class="block">Marketing Head - Asia Pacific Business Head</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="~/img/team-03.jpg" alt="Team Member 2">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
	  
	  
      <div class="modal" id="team-11-profile">
        <a href="#team-11" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Richmond Reymond</h2>
          <strong class="block">Production Head - CPO ( Chief Production Officer )</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="~/img/team-11.jpg" alt="Team Member 3">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
     
    
      <div class="modal" id="team-12-profile">
        <a href="#team-12" class="modal-close"><span class="sr">Close</span></a>
        <div class="modal-inner">
          <h2 class="heading fs-3 team-profile-heading">Ali Al Zafar</h2>
          <strong class="block">Development Head - CTO ( Chief Technical Officer )</strong>
          <div class="clear team-profile-content">
            <img class="team-profile-image block img-fluid" src="~/img/team-02.jpg" alt="Team Member 12">
            <div class="team-profile-content-block">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="video-feature-block" class="feature-block video-feature-block">
  <div class="video-feature-inner container">
    <div class="animate-block content-block-inner text-center">
      @*<a id="video" class="button button-play" href="#feature-video"><span class="sr">Play</span></a>*@
      <h2 class="feature-block-heading">We blend the strategic with creative</h2>
      <div class="col-10-l no-float center">
        <p>
          When someone asks what we do at IBS, it's tempting to point out our track record for helping to transform the world's great companies into sharper, smarter, better versions of themselves.
        </p>
      </div>
    </div>
    <div class="modal" id="feature-video">
      <a href="#video" class="modal-close"><span class="sr">Close</span></a>
      <div class="modal-inner">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="news" class="animate-block content-block news-block">
  <div class="news-block-inner container">
    <div class="content-block-inner text-center">
      <h2 class="uppercase pad-bottom-20">News & Events</h2>
      <div class="col-10-l no-float center">
        <p>
          Together, we find value across boundaries, develop insights to act on, and energize teams to sustain success. We're passionate about always doing the right thing for our clients, our people and our communities, even if it isn't easy.
        </p>
      </div>
    </div>
    <div class="animate-block news-list clear">
      <div class="news-list-left col-8-l no-padding-l">
        <div class="news-item clear">
            <a href="#" class="news-item-image col-7-l no-padding-l">
              <img class="block img-fluid" src="~/img/news-item-01.jpg" alt="News Item 01">
            </a>
          <div class="news-item-content col-5-l no-padding-l">
            <div class="news-item-content-inner">
              <h3 class="news-item-title uppercase"><a href="#">Why Financial Institutions need a new Biometric model</a></h3>
              <p>
                Why old IT models are unlikely to deliver the competitive edge that banks, insurers and wealth management firms need from technology.
              </p>
              <em class="news-item-publish-date">
                Posted: 08.07.2015
              </em>
            </div>
          </div>
        </div>
        <div class="news-item news-item-secondary clear">
          <a href="#" class="news-item-image col-7-l no-padding-l">
            <img class="block img-fluid" src="~/img/news-item-02.jpg" alt="News Item 02">
          </a>
          <div class="news-item-content col-5-l no-padding-l">
            <div class="news-item-content-inner">
              <h3 class="news-item-title uppercase"><a href="#">Reimagining IT for an Omnichannel world</a></h3>
              <p>
                The technology that powers retail is evolving rapidly. Retailers and their IT groups will have to rise to stay ahead.
              </p>
              <em class="news-item-publish-date">
                Posted: 08.07.2015
              </em>
            </div>
          </div>
        </div>
      </div>
      <div class="news-list-right col-4-l no-padding-l">
        <div class="news-item news-item-third clear">
          <a href="#" class="news-item-image col-7-l no-padding-l">
            <img class="block img-fluid" src="~/img/news-item-03.jpg" alt="News Item 03">
          </a>
          <div class="news-item-content col-5-l no-padding-l">
            <div class="news-item-content-inner">
              <h3 class="news-item-title uppercase"><a href="#">Making the most of generation assets in turbulent times</a></h3>
              <p>
                A thorough review of a power generation portfolio informs decisions about how to reduce costs, raise revenues and make strategic plans.
              </p>
              <em class="news-item-publish-date">
                Posted: 08.07.2015
              </em>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="animate-block content-block contact-block">
  <div class="contact-block-inner container">
    <div class="clear">
      <div class="contact-block-content col-6-m">
        <h2 class="fs-2 heading">IBS</h2>
        <p>
          Thank you for your interest in IBS. Please contact us using the information below. To locate contacts in the IBS office closest to you, visit our office websites. To get the latest updates from IBS, subscribe to a newsletter or connect with us on social media.
        </p>
        <ul class="contact-list">
          <li><span class="icon contact-icon contact-icon-location">Ajman, UAE</span></li>
          <li><span class="icon contact-icon contact-icon-phone">00971 58 2492593</span></li>
          <li><span class="icon contact-icon contact-icon-email"><a href="mailto:infinitybarcodesystems@gmail.com?subject=General%20Enquiry&anp;body=">infinitybarcodesystems@gmail.com</a></span></li>
        </ul>
      </div>
      <div class="contact-block-form col-6-m">
        <h2 class="fs-2 heading">Contact</h2>
        <p>
          Please contact us using contact form below.
        </p>
        <form class="contact-form">
          <fieldset class="contact-form-wrap">
            <legend class="sr">Contact Us</legend>
            <div class="pad-top-5 pad-bottom-5">
              <label class="sr" for="name">Name</label>
              <input name="name" class="field" id="txt_name" type="text" placeholder="Name">
            </div>
            <div class="pad-top-5 pad-bottom-5">
              <label class="sr" for="email">Email</label>
              <input name="email" class="field" id="txt_email" type="email" placeholder="Email">
            </div>
            <div class="pad-top-5 pad-bottom-5">
              <label class="sr" for="subject">Mobile No.</label>
              <input name="subject" class="field" id="txt_subject" type="text" placeholder="Mobile No.">
            </div>
            <div class="pad-top-5 pad-bottom-5">
              <label for="message" class="sr">Message</label>
              <textarea placeholder="Message" class="field" name="message" id="txt_message" cols="30" rows="7"></textarea>
            </div>
            <div class="text-right">
              <input type="button" id="btn-save" class="button button-primary contact-submit" value="Send">
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>




