<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=184.168.194.75;Initial Catalog=softdew_ats; User ID=softdew;Password=Softdew@2017;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>-->
    <add name="DefaultConnection" connectionString="Data Source=(localDb)\MSSQLLocalDB;Initial Catalog=softdew_ats; Integrated Security=true;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>