
.clearfix {
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix::after {
    clear: both;
}
.hide-text {
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    text-shadow: none;
}
.input-block-level {
    box-sizing: border-box;
    display: block;
    min-height: 30px;
    width: 100%;
}
.row {
    margin-left: -60px;
}
.row::before, .row::after {
    content: "";
    display: table;
    line-height: 0;
}
.row::after {
    clear: both;
}
[class*="span"] {
    float: left;
    margin-left: 60px;
    min-height: 1px;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1380px;
}
.span12 {
    width: 1380px;
}
.span11 {
    width: 1260px;
}
.span10 {
    width: 1140px;
}
.span9 {
    width: 1020px;
}
.span8 {
    width: 900px;
}
.span7 {
    width: 780px;
}
.span6 {
    width: 660px;
}
.span5 {
    width: 540px;
}
.span4 {
    width: 420px;
}
.span3 {
    width: 300px;
}
.span2 {
    width: 180px;
}
.span1 {
    width: 60px;
}
.offset12 {
    margin-left: 1500px;
}
.offset11 {
    margin-left: 1380px;
}
.offset10 {
    margin-left: 1260px;
}
.offset9 {
    margin-left: 1140px;
}
.offset8 {
    margin-left: 1020px;
}
.offset7 {
    margin-left: 900px;
}
.offset6 {
    margin-left: 780px;
}
.offset5 {
    margin-left: 660px;
}
.offset4 {
    margin-left: 540px;
}
.offset3 {
    margin-left: 420px;
}
.offset2 {
    margin-left: 300px;
}
.offset1 {
    margin-left: 180px;
}
.row-fluid {
    width: 100%;
}
.row-fluid::before, .row-fluid::after {
    content: "";
    display: table;
    line-height: 0;
}
.row-fluid::after {
    clear: both;
}
.row-fluid [class*="span"] {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.74783%;
    min-height: 30px;
    width: 100%;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 4.34783%;
}
.row-fluid .span12 {
    width: 100%;
}
.row-fluid .span11 {
    width: 91.3044%;
}
.row-fluid .span10 {
    width: 82.6087%;
}
.row-fluid .span9 {
    width: 73.913%;
}
.row-fluid .span8 {
    width: 65.2174%;
}
.row-fluid .span7 {
    width: 56.5217%;
}
.row-fluid .span6 {
    width: 47.8261%;
}
.row-fluid .span5 {
    width: 39.1304%;
}
.row-fluid .span4 {
    width: 30.4348%;
}
.row-fluid .span3 {
    width: 21.7391%;
}
.row-fluid .span2 {
    width: 13.0435%;
}
.row-fluid .span1 {
    width: 4.34783%;
}
.row-fluid .offset12 {
    margin-left: 108.696%;
}
.row-fluid .offset12:first-child {
    margin-left: 104.348%;
}
.row-fluid .offset11 {
    margin-left: 100%;
}
.row-fluid .offset11:first-child {
    margin-left: 95.6522%;
}
.row-fluid .offset10 {
    margin-left: 91.3044%;
}
.row-fluid .offset10:first-child {
    margin-left: 86.9565%;
}
.row-fluid .offset9 {
    margin-left: 82.6087%;
}
.row-fluid .offset9:first-child {
    margin-left: 78.2609%;
}
.row-fluid .offset8 {
    margin-left: 73.913%;
}
.row-fluid .offset8:first-child {
    margin-left: 69.5652%;
}
.row-fluid .offset7 {
    margin-left: 65.2174%;
}
.row-fluid .offset7:first-child {
    margin-left: 60.8696%;
}
.row-fluid .offset6 {
    margin-left: 56.5217%;
}
.row-fluid .offset6:first-child {
    margin-left: 52.1739%;
}
.row-fluid .offset5 {
    margin-left: 47.8261%;
}
.row-fluid .offset5:first-child {
    margin-left: 43.4783%;
}
.row-fluid .offset4 {
    margin-left: 39.1304%;
}
.row-fluid .offset4:first-child {
    margin-left: 34.7826%;
}
.row-fluid .offset3 {
    margin-left: 30.4348%;
}
.row-fluid .offset3:first-child {
    margin-left: 26.087%;
}
.row-fluid .offset2 {
    margin-left: 21.7391%;
}
.row-fluid .offset2:first-child {
    margin-left: 17.3913%;
}
.row-fluid .offset1 {
    margin-left: 13.0435%;
}
.row-fluid .offset1:first-child {
    margin-left: 8.69565%;
}
.hide[class*="span"], .row-fluid .hide[class*="span"] {
    display: none;
}
.pull-right[class*="span"], .row-fluid .pull-right[class*="span"] {
    float: right;
}
.general-2right #primary, .general-2left #primary {
    width: 73.913%;
}
#secondary {
    width: 21.7391%;
}
.block, #secondary .widget {
    margin-bottom: 60px;
}
.isotope .article-wrapper {
    margin: 0 30px 60px;
}
