@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#change_pwd").addClass("active");
        $("#btn_submit").click(function () {
          var is_validated = true;
          var old=  $("#txt_old_password").val();
          var newp=  $("#txt_new_password").val();
          var conf = $("#txt_confirm_password").val();
          if(conf=="") {
              $("#txt_confirm_password").addClass("error-txt");
              $("#txt_confirm_password").focus();
              is_validated = false;
          }
          else
              $("#txt_confirm_password").removeClass("error-txt")
          if (newp == "") {
              $("#txt_new_password").addClass("error-txt");
              $("#txt_new_password").focus();
              is_validated = false;
          }
          else
              $("#txt_new_password").removeClass("error-txt");
          if (old == "") {
              $("#txt_old_password").addClass("error-txt");
              $("#txt_old_password").focus();
              is_validated = false;
          }
          else $("#txt_old_password").removeClass("error-txt");
          if (newp != conf) {
              $("#confrm-error").text('Confirm Password not match.');
              is_validated = false;
          }
          else $("#confrm-error").text('');
          if (is_validated) {
              $.ajax({
                  typ: "GET",
                  url: "/Admin/UpdatePassword",
                  data: { old: old, newp: newp },
                  success:function(result){
                      if (result == 1) {
                          $("#confrm-error").text('Password changed successfully.');
                          clear();
                      }
                      else $("#confrm-error").text('User cant not exist!');

                  }
              });
          }

        });
        $('#btn_reset').click(function () {
            clear();
            $("#confrm-error").text('');
        });
        function clear() {
            
            $("#txt_old_password").val('');
            $("#txt_new_password").val('');
            $("#txt_confirm_password").val('');
        }
    });
</script>
<aside class="right-side">
    <section class="content-header">
         <h1>Change Password</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Change Password</li>
        </ol>
    </section>
    <section class="content">
        <div class="alert alert-danger alert-dismissable custom_hide" id="errorblock" style="margin-left:5px">
            <i class="fa fa-ban"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span id="error_text"></span>
        </div>
        <div class="alert alert-success alert-dismissable custom_hide" id="successblock" style="margin-left:5px">
            <i class="fa fa-ban"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" id="for_reaload">&times;</button>
            <span id="success_text"></span>
        </div>
        <div class="row">
                <section class="col-lg-12">
                    <div class="box box-primary">
                        <div class="box-body" style="overflow:hidden">
                            <div class="form-group">
                                <div class="row" style="margin:0px; margin-top:15px;">
                                    <div class="col-md-2 col-lg-offset-3">
                                        <label for="txt_to_date">Old Password<span class="red_star">*</span></label>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.Password("txt_old_password", "", new { @class = "form-control", maxlength = "15" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row" style="margin:0px; margin-top:15px;">
                                    <div class="col-md-2 col-lg-offset-3">
                                        <label for="txt_to_date">New Password<span class="red_star">*</span></label>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.Password("txt_new_password", "", new { @class = "form-control", maxlength = "15" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row" style="margin:0px; margin-top:15px;">
                                    <div class="col-md-2 col-lg-offset-3">
                                        <label for="txt_to_date">Confirm Password<span class="red_star">*</span></label>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.Password("txt_confirm_password", "", new { @class = "form-control", maxlength = "15" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0px;">
                            <div class="col-md-6 col-lg-offset-5">
                                <span id="confrm-error" class="field-validation-error"></span>
                            </div>
                        </div>
                            <div class="form-group">
                                <div class="row" style="margin-left:250px; margin-top:10px;padding-bottom:15px;">
                                   
                                    <div class="col-md-3 col-lg-offset-3">
                                        
                                        <input id="btn_submit" type="button" value="Save" class="btn btn-primary" />&nbsp;
                                        <input id="btn_reset" type="button" value="Clear" class="btn btn-primary" />
                                    </div>

                                </div>
                            </div>
                        </div>
            </div>
       
    </section>
</aside>
